# Python Basics ---> Day 1

In [19]:
# Welcome to Python Course

In [20]:
x, y = 4, 3.0

print(x, type(y))

4 <class 'float'>

In [21]:
x = "Sai"

type(x)

str

In [22]:
x = 2.5

x

2.5

In [23]:
type(x)

float

In [24]:
l = ["Sai", "Deepthi", "Kishore"]

l

['Sai', 'Deepthi', 'Kishore']

In [25]:
type(l)

list

In [26]:
age = 23

print(age, type(age))

23 <class 'int'>

In [27]:
age1 = 23
age2 = 54

Student_Name = "sai"

Student_Name

'sai'

In [28]:
l =["Sai", 3, 3.5, True] 

l

['Sai', 3, 3.5, True]

In [29]:
type(l)

list

In [30]:
for i in l:
    print(f"{i} : {type(i)}")

Sai : <class 'str'>
3 : <class 'int'>
3.5 : <class 'float'>
True : <class 'bool'>

In [31]:
x = 10
y = 3

z = x/y
print(z)
print(int(z))

3.3333333333333335
3

In [32]:
y

3

In [33]:
y = float(y)

In [34]:
y

3.0

In [35]:
l = ["Sai", "Deepthi"]

l

['Sai', 'Deepthi']

In [36]:
x = input()

In [37]:
type(x)

str

In [38]:
print(x, type(x))

 <class 'str'>

In [39]:
# age = [25, 17, 35, 80, 5, 12]

age = []
n = input("Total no.of Students : ")

for i in range(int(n)):              # range ---> start, stop, increment
    std_age = input(f"Enter {i+1} student age : ")
    age.append(std_age)

print("List of Students Age : ", age)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
r = True

bool(r)

True

In [ ]:
x = 15
y = 5

if x >= 12 and y <= 10:
    print(True)
else:
    print(False)

True

In [ ]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
for i in range(10, -1, -2):
    print(i)

10
8
6
4
2
0

In [ ]:
l = ["Sai", "Deepthi", "Kishore", "apple", "banana"]

l

['Sai', 'Deepthi', 'Kishore', 'apple', 'banana']

In [ ]:
for i in l:
    print(i)

Sai
Deepthi
Kishore
apple
banana

In [ ]:
l[2]

'Kishore'

In [ ]:
len(l)

5

In [ ]:
for i in range(len(l)):
    print(i, l[i])

0 Sai
1 Deepthi
2 Kishore
3 apple
4 banana

In [ ]:
x = len(l)

for i in range(2, x):
    print(i)

2
3
4

In [ ]:
for i in range(10):

    if i == 7 or i == 5:
        continue

    elif i == 5:
         break

    print(i)

0
1
2
3
4
6
8
9

In [ ]:
i = 5

while i > 0:
    print(i)
    i = i-1

5
4
3
2
1

In [ ]:
del i

# Data Structures ---> Day 2|

### Intializing String and finding Length

In [ ]:
s = "Deepthi"

print("String : ", s)
print("Length of String : ", len(s))
print("Last Word in a String : ", s[len(s)-1])

String :  Deepthi
Length of String :  7
Last Word in a String :  i

### Iterate String using for loop

In [ ]:
for i in range(len(s)):
    print(s[i])

D
e
e
p
t
h
i

In [ ]:
for i in s:
    print(i)

D
e
e
p
t
h
i

### Print in Reverese

In [ ]:
for i in range(len(s)-1, -1, -1):
    print(s[i])

i
h
t
p
e
e
D

### Accessing Even numbered index values

In [ ]:
print("String : ", s, "\n")

for i in range(0, len(s), 2):
    print(i,":",s[i])

String :  Deepthi

0 : D
2 : e
4 : t
6 : i

### String Methods

In [ ]:
full_name = "Sai Preetham Reddy"

print("Upper Case :", full_name.upper())
print("Lower Case :", full_name.lower())
print("Upper Case :", full_name.title())
print("Upper Case :", full_name.capitalize())

Upper Case : SAI PREETHAM REDDY
Lower Case : sai preetham reddy
Upper Case : Sai Preetham Reddy
Upper Case : Sai preetham reddy

In [ ]:
full_name.split()

['Sai', 'Preetham', 'Reddy']

In [ ]:
full_name

'Sai Preetham Reddy'

In [ ]:
temp = full_name.split()

print(temp)

['Sai', 'Preetham', 'Reddy']

In [ ]:
full_name.split()[0]

'Sai'

In [ ]:
first_name = temp[0]
middle_name = temp[1]
last_name = temp[2]

In [ ]:
print("First Name :", first_name)

First Name : Sai

In [ ]:
s = "   Sai Preetham    "

s.strip()  # strip ---> removes the first and last spaces in a string.

'Sai Preetham'

In [ ]:
s

'   Sai Preetham    '

In [ ]:
s = "Sai"

s.isalpha()

True

In [ ]:
s = "Sai Preetham"

s.isalpha()         # space is not an alphabet.

False

In [ ]:
user_id = "Sai007"

user_id.isalnum()

True

In [ ]:
std_names = []
n = int(input("Enter total no.of students : "))

for i in range(n):
    std_names.append(input("Enter the name of the student : "))

std_names

['sai', 'deepthi', 'kishore']

# Day 3

### List Comprehension

In [ ]:
whole_numbers = [i for i in range(10)]

whole_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
natural_numbers = [i+1 for i in range(10)]

natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
even_natural_numbers = [i for i in range(2,10,2)]

even_natural_numbers

[2, 4, 6, 8]

In [ ]:
odd_natural_numbers = [i for i in range(10) if i%2 != 0]

odd_natural_numbers

[1, 3, 5, 7, 9]

In [ ]:
[i+j for i in range(3) for j in range(5)]

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [ ]:
[i+j for i in range(5) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4, 3, 4, 5, 4, 5, 6]

In [ ]:
l = []

for i in range(10):
    if i%2 == 0:
        l.append(i)

print(l)

[0, 2, 4, 6, 8]

In [ ]:
std_name = [input(f"Enter {i+1} student name : ") for i in range(5)]

std_name

['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

In [ ]:
std_name = ['sai', 'krishna','sai', 'deepthi', 'sai', 'deepthi']

In [ ]:
for k,v in enumerate(std_name):
    print({k:v})

{0: 'sai'}
{1: 'krishna'}
{2: 'sai'}
{3: 'deepthi'}
{4: 'sai'}
{5: 'deepthi'}

In [ ]:
std_name = ['sai', 'krishna','sai', 'deepthi', 'sai', 'deepthi']

std_count = [{i : std_name.count(i)} for i in set(std_name)]
std_count

[{'sai': 3}, {'deepthi': 2}, {'krishna': 1}]

In [ ]:
std_name = ['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

std_name

['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

In [ ]:
std_name[1]

'krishna'

### Slicing

In [ ]:
std_name[2:4]

['deepthi', 'kishore']

In [ ]:
std_name[0:3]

['sai', 'krishna', 'deepthi']

In [ ]:
std_name[:3]

['sai', 'krishna', 'deepthi']

In [ ]:
std_name[2:]

['deepthi', 'kishore', 'subhashini']

In [ ]:
std_name

['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

In [ ]:
std_name[:]

['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

### methods

In [ ]:
std_name.pop

In [ ]:
std_name.pop()

'subhashini'

In [ ]:
std_name.pop()

'kishore'

In [ ]:
std_name

['sai', 'krishna', 'deepthi']

In [ ]:
std_name.count

In [ ]:
std_name.count("sai")

1

In [ ]:
std_name.count("kishore")

0

In [ ]:
std_name.clear

In [ ]:
std_name.clear()

In [ ]:
std_name

[]

In [ ]:
names = ['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

names

['sai', 'krishna', 'deepthi', 'kishore', 'subhashini']

In [ ]:
names.insert(2, "venkateswara")

names

['sai', 'krishna', 'venkateswara', 'deepthi', 'kishore', 'subhashini']

In [ ]:
names.sort

In [ ]:
names.sort()      # Ascending order

names

['deepthi', 'kishore', 'krishna', 'sai', 'subhashini', 'venkateswara']

In [ ]:
names.sort(reverse=True)      # descending order

names

['venkateswara', 'subhashini', 'sai', 'krishna', 'kishore', 'deepthi']

### Append vs Extend

In [ ]:
names_1 = ["sai", "preetham", "deepthi"]
names_2 = ["krishna", "kishore"]

names_1.append(names_2)

In [ ]:
print("names_1 : ", names_1)
print("Length : ", len(names_1))

names_1 :  ['sai', 'preetham', 'deepthi', ['krishna', 'kishore']]
Length :  4

In [ ]:
names_1 = ["sai", "preetham", "deepthi"]
names_2 = ["krishna", "kishore"]

names_1.extend(names_2)

In [ ]:
print("names_1 : ", names_1)
print("Length : ", len(names_1))

names_1 :  ['sai', 'preetham', 'deepthi', 'krishna', 'kishore']
Length :  5

In [ ]:
### List Concatinate

In [ ]:
names_1 = ["sai", "preetham", "deepthi"]
names_2 = ["krishna", "kishore"]

names_1 + names_2      # works similar to extend.

['sai', 'preetham', 'deepthi', 'krishna', 'kishore']

In [ ]:
x = [1,2,3,4,5]

y = [i*2 for i in x]

print("x :", x)
print("y :", y)

x : [1, 2, 3, 4, 5]
y : [2, 4, 6, 8, 10]

### Nested List

In [ ]:
nested_list = ["sai", "preetham", ["deepthi", "kishore", "krishna"]]

nested_list

['sai', 'preetham', ['deepthi', 'kishore', 'krishna']]

In [ ]:
nested_list[-1]

['deepthi', 'kishore', 'krishna']

In [ ]:
nested_list[-1][1]

'kishore'

In [ ]:
adv_nested_list = [["sai", "preetham"], ["kishore", "deepthi"], ["subhashini", "krishna", "venkateswara"]]

adv_nested_list

[['sai', 'preetham'],
 ['kishore', 'deepthi'],
 ['subhashini', 'krishna', 'venkateswara']]

In [ ]:
adv_nested_list[1][1]

'deepthi'

In [ ]:
adv_3d_nested_list = [[["sai", "preetham"], ["kishore", "deepthi"]], ["subhashini", "venkateswara", "krishna"]]

adv_3d_nested_list

[[['sai', 'preetham'], ['kishore', 'deepthi']],
 ['subhashini', 'venkateswara', 'krishna']]

In [ ]:
adv_3d_nested_list[0][1][1]

'deepthi'

### Looping through a nested_list

In [ ]:
adv_nested_list = [["sai", "preetham"], ["kishore", "deepthi"], ["subhashini", "krishna", "venkateswara"]]

adv_nested_list

[['sai', 'preetham'],
 ['kishore', 'deepthi'],
 ['subhashini', 'krishna', 'venkateswara']]

In [ ]:
for i in adv_nested_list:
    print(i)

['sai', 'preetham']
['kishore', 'deepthi']
['subhashini', 'krishna', 'venkateswara']

In [ ]:
for i in adv_nested_list:
    for j in i:
        print(j)
    print()

sai
preetham

kishore
deepthi

subhashini
krishna
venkateswara

In [ ]:
original_data = ["sai", 1, True, 4.5]
copy_data = original_data

print("original_data :", original_data)
print("copy_data :", copy_data)

original_data : ['sai', 1, True, 4.5]
copy_data : ['sai', 1, True, 4.5]

In [ ]:
copy_data.pop()

print("copy_data :", copy_data)
print("original_data :", original_data)

copy_data : ['sai', 1, True]
original_data : ['sai', 1, True]

In [ ]:
original_data = ["sai", 1, True, 4.5]
copy_data = original_data.copy()

print("original_data :", original_data)
print("copy_data :", copy_data)

original_data : ['sai', 1, True, 4.5]
copy_data : ['sai', 1, True, 4.5]

In [ ]:
copy_data.pop()

print("copy_data :", copy_data)
print("original_data :", original_data)

copy_data : ['sai', 1, True]
original_data : ['sai', 1, True, 4.5]

In [ ]:
students = ["Sai", "Deepthi", "Kishore", "Krishna", "Subhashini"]

for i in range(len(students)):
    print(i, students[i])

0 Sai
1 Deepthi
2 Kishore
3 Krishna
4 Subhashini

### Enumerate

In [ ]:
for i in enumerate(students):
    print(i)

(0, 'Sai')
(1, 'Deepthi')
(2, 'Kishore')
(3, 'Krishna')
(4, 'Subhashini')

In [ ]:
for i,j in enumerate(students):
    print("index_value :", i)

index_value : 0
index_value : 1
index_value : 2
index_value : 3
index_value : 4

In [ ]:
for i,j in enumerate(students):
    print(f"element_{i} : {j}")

element_0 : Sai
element_1 : Deepthi
element_2 : Kishore
element_3 : Krishna
element_4 : Subhashini

### zip

In [ ]:
x = [1, 2, 3]
y = ["sai", "deepthi", "kishore"]

for i in zip(x,y):
    print(i)

(1, 'sai')
(2, 'deepthi')
(3, 'kishore')

In [ ]:
x = [1, 2, 3]
y = ["sai", "deepthi", "kishore", "krishna", "subhashini"]
z = [1.1, 2.2, 3.3, 4.4]

for i in zip(x,y,z):
    print(i)

(1, 'sai', 1.1)
(2, 'deepthi', 2.2)
(3, 'kishore', 3.3)

In [ ]:
students = ["Sai", "Deepthi", "Kishore", "Krishna", "Subhashini"]

temp = [i.upper() for i in students]
temp

['SAI', 'DEEPTHI', 'KISHORE', 'KRISHNA', 'SUBHASHINI']

### Day-5
* Tuples

In [ ]:
tup = ("sai", "preetham", "deepthi")
tup

('sai', 'preetham', 'deepthi')

In [ ]:
type(tup)

tuple

In [ ]:
tup[-1]

'deepthi'

In [ ]:
x = [1, "sai", 2.7, True]
y = (2, "deepthi", 4.5, False)

x.pop()

True

### tuples cannot be modified, can only be accessed.

In [ ]:
# y.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
x,y

([1, 'sai', 2.7], (2, 'deepthi', 4.5, False))

In [ ]:
x[-1], y[-1]

(2.7, False)

In [ ]:
x*2

[1, 'sai', 2.7, 1, 'sai', 2.7]

In [ ]:
y*2

(2, 'deepthi', 4.5, False, 2, 'deepthi', 4.5, False)

In [ ]:
std_name = ("sai", "deepthi", "kishore")
std_age = (24, 27, 26)

std_name + std_age

('sai', 'deepthi', 'kishore', 24, 27, 26)

In [ ]:
std_name = ("sai", "deepthi", "kishore")
std_age = [24, 27, 26]

# std_name + std_age

In [ ]:
len(std_name)

3

In [ ]:
if "krishna" in std_name:
    print("Krishna is Present")
else:
    print("Krishna is not present")

Krishna is not present

In [ ]:
if 26 in std_age:
    print("26 is present")
else:
    print("26 is absent")

26 is present

In [ ]:
if "26" in std_age:
    print("26 is present")
else:
    print("26 is absent")

26 is absent

In [ ]:
if 26 not in std_age:
    print("True")
else:
    print("False")

False

In [ ]:
std_name.count("deepthi")

1

In [ ]:
# std_name.count("deepthi", "sai") ---> count can only take 1 argument.

### Sets
* Collection of unique elements
* set is unordered

In [ ]:
s = {}
type(s)

dict

In [ ]:
s = set()
type(s)

set

In [ ]:
s = {"sai", "deepthi", "kishore"}
type(s)

set

variable names cannot start with :

In [ ]:
# .std_name
# 12std_age
# $std_age
# list = 
# tupple = 
# set = 
# dict =

In [ ]:
s = {"sai", "deepthi", "sai", "sai", "kishore"}
s

{'deepthi', 'kishore', 'sai'}

* set elements cannot be accessable

In [ ]:
# s[0]

In [ ]:
for i in s:
    print(i)

kishore
sai
deepthi

In [ ]:
s.add(3)

s

{3, 'deepthi', 'kishore', 'sai'}

In [ ]:
s.discard("sai")

s

{3, 'deepthi', 'kishore'}

In [ ]:
s.discard("sai")

s

{3, 'deepthi', 'kishore'}

In [ ]:
s.pop()

s

{'deepthi', 'kishore'}

In [ ]:
type({""})

set

In [ ]:
l = ["sai", "preetham", ("kishore", "deepthi")]

l

['sai', 'preetham', ('kishore', 'deepthi')]

In [ ]:
l[-1]

('kishore', 'deepthi')

In [ ]:
type(l)

list

In [ ]:
type(l[-1])

tuple

In [ ]:
l[-1][0]

'kishore'

In [ ]:
type(l[-1][0])

str

* List and dictionaries are not allowed in sets.

In [ ]:
# s = {"sai", "preetham", ["sai", "preetham"]}

# s

* tuples can be alloed in sets.

In [ ]:
s = {"sai", "preetham", ("sai", "preetham")}

s

{('sai', 'preetham'), 'preetham', 'sai'}

In [ ]:
s.update("3")

In [ ]:
s

{('sai', 'preetham'), '3', 'preetham', 'sai'}

In [ ]:
# s.update(4,5)

In [ ]:
s.update([4,"5"])
s.update((7,8.5))

s

{('sai', 'preetham'), '3', 4, '5', 7, 8.5, 'preetham', 'sai'}

In [ ]:
s.update("456.34")

s

{('sai', 'preetham'), '.', '3', 4, '4', '5', '6', 7, 8.5, 'preetham', 'sai'}

* remove method gives key error ---> if a value is not present.
* discard method dosen't gives you error

In [ ]:
# s.remove(3)

In [ ]:
s.remove('.')

s

{('sai', 'preetham'), '3', 4, '4', '5', '6', 7, 8.5, 'preetham', 'sai'}

In [ ]:
s.discard(3)

s

{('sai', 'preetham'), '3', 4, '4', '5', '6', 7, 8.5, 'preetham', 'sai'}

In [ ]:
s1 = {"sai", "preetham", "subhashini"}
s2 = {"kishore", "sai", "krishna"}

In [ ]:
s1.union(s2)

# or s1 | s2

{'kishore', 'krishna', 'preetham', 'sai', 'subhashini'}

In [ ]:
s1.intersection(s2)

# s1 & s2

{'sai'}

In [ ]:
s2.difference(s1)

# or s2 - s1

{'kishore', 'krishna'}

In [ ]:
s1.difference(s2)

# or s1 - s2

{'preetham', 'subhashini'}

In [ ]:
s1.symmetric_difference(s2)

# or (s1 | s2) - (s1 & s2)

{'kishore', 'krishna', 'preetham', 'subhashini'}

In [ ]:
(s1 | s2) - (s1 & s2)

{'kishore', 'krishna', 'preetham', 'subhashini'}

In [ ]:
s1 | s2 - (s1 & s2)

{'kishore', 'krishna', 'preetham', 'sai', 'subhashini'}

In [ ]:
s3 = {"sai", "deepthi", "krishna", "kishore", "subhashini"}
s4 = {"sai", "deepthi"}

True

In [ ]:
s4.issubset(s3)

# or s4 <= s3

True

In [ ]:
s3.issubset(s4)

False

In [ ]:
s3.issuperset(s4)

True

In [ ]:
s4.issuperset(s3)

False

### Day - 6

### Dictionaries
* it is unordered ---> before python-3.7 version
* it is ordered ---> after python-3.7 version

In [ ]:
x = {}

type(x)

dict

In [ ]:
y = dict()

type(y)

dict

In [ ]:
x = {"sai" : 24, "krishna" : 22, "deepthi" : 30, "kishore" : 26}

x

{'sai': 24, 'krishna': 22, 'deepthi': 30, 'kishore': 26}

* it can be accessed by using keys.

In [ ]:
x["sai"]

24

In [ ]:
x["kishore"]

26

* keys

In [ ]:
for i in x:
    print(i)

sai
krishna
deepthi
kishore

In [ ]:
for i in x.values():
    print(x[i])

24
22
30
26

In [ ]:
for i in x:
    print(i, x[i])

sai 24
krishna 22
deepthi 30
kishore 26

In [ ]:
for i in x.keys():
    print(i)

sai
krishna
deepthi
kishore

In [ ]:
for i in x.values():
    print(i)

24
22
30
26

In [ ]:
for i in x.items():
    print(i)

('sai', 24)
('krishna', 22)
('deepthi', 30)
('kishore', 26)

In [ ]:
for i,j in x.items():
    print("Key :", i.upper(), ", Value :", j+2)

Key : SAI , Value : 26
Key : KRISHNA , Value : 24
Key : DEEPTHI , Value : 32
Key : KISHORE , Value : 28

In [ ]:
x

{'sai': 24, 'krishna': 22, 'deepthi': 30, 'kishore': 26}

In [ ]:
x["subhashini"] = 45

x

{'sai': 24, 'krishna': 22, 'deepthi': 30, 'kishore': 26, 'subhashini': 45}

In [ ]:
x.update({"venkateswara" : 50})

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 30,
 'kishore': 26,
 'subhashini': 45,
 'venkatesara': 50,
 'venkateswara': 50}

In [ ]:
x.pop("venkatesara")

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 30,
 'kishore': 26,
 'subhashini': 45,
 'venkateswara': 50}

* pop() in dictionary must contain 1 argument i.e 'key', otherwise u will get error

In [ ]:
# x.pop()

# x

In [ ]:
x

{'sai': 24,
 'krishna': 22,
 'deepthi': 30,
 'kishore': 26,
 'subhashini': 45,
 'venkateswara': 50}

In [ ]:
x["deepthi"] = 32

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 32,
 'kishore': 26,
 'subhashini': 45,
 'venkateswara': 50}

In [ ]:
x["deepthi"] = "Deepthi"

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 'Deepthi',
 'kishore': 26,
 'subhashini': 45,
 'venkateswara': 50}

In [ ]:
x["subhashini"] = ["housewife", "married"]

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 'Deepthi',
 'kishore': 26,
 'subhashini': ['housewife', 'married'],
 'venkateswara': 50}

In [ ]:
x[24] = "abc"

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 'Deepthi',
 'kishore': 26,
 'subhashini': ['housewife', 'married'],
 'venkateswara': 50,
 24: 'abc'}

In [ ]:
# x[["sai", "preetham"]] = 40

# x

In [ ]:
# x.update({["sai", "preetham"] : 35})

# x

In [ ]:
x[24.5+45] = "hello"

x

{'sai': 24,
 'krishna': 22,
 'deepthi': 'Deepthi',
 'kishore': 26,
 'subhashini': ['housewife', 'married'],
 'venkateswara': 50,
 24: 'abc',
 69.5: 'hello'}

### nested dictionaries

In [ ]:
organisation = {'employees' : [{'name' : 'sai', 'age' : 24, 'emp_id' : 8133398, 'dept' : 'developer'},
                               {'name' : 'deepthi', 'age' : 32, 'emp_id' : 8133399, 'dept' : 'testing'}],

                'staff' : {'name' : 'abc', 'age' : 35, 'dept' : 'cleaning'}
                }

organisation

{'employees': [{'name': 'sai',
   'age': 24,
   'emp_id': 8133398,
   'dept': 'developer'},
  {'name': 'deepthi', 'age': 32, 'emp_id': 8133399, 'dept': 'testing'}],
 'staff': {'name': 'abc', 'age': 35, 'dept': 'cleaning'}}

In [ ]:
organisation["employees"]

[{'name': 'sai', 'age': 24, 'emp_id': 8133398, 'dept': 'developer'},
 {'name': 'deepthi', 'age': 32, 'emp_id': 8133399, 'dept': 'testing'}]

In [ ]:
organisation["employees"][0]

{'name': 'sai', 'age': 24, 'emp_id': 8133398, 'dept': 'developer'}

In [ ]:
organisation["employees"][0]['dept']

'developer'

In [ ]:
organisation["employees"][0]['dept'][2:-1]

'velope'

In [ ]:
organisation.keys()

dict_keys(['employees', 'staff'])

In [ ]:
type(organisation.keys())

dict_keys

In [ ]:
list(organisation.keys())

['employees', 'staff']

In [ ]:
organisation.values()

dict_values([[{'name': 'sai', 'age': 24, 'emp_id': 8133398, 'dept': 'developer'}, {'name': 'deepthi', 'age': 32, 'emp_id': 8133399, 'dept': 'testing'}], {'name': 'abc', 'age': 35, 'dept': 'cleaning'}])

In [ ]:
organisation.items()

dict_items([('employees', [{'name': 'sai', 'age': 24, 'emp_id': 8133398, 'dept': 'developer'}, {'name': 'deepthi', 'age': 32, 'emp_id': 8133399, 'dept': 'testing'}]), ('staff', {'name': 'abc', 'age': 35, 'dept': 'cleaning'})])

In [ ]:
organisation

{'employees': [{'name': 'sai',
   'age': 24,
   'emp_id': 8133398,
   'dept': 'developer'},
  {'name': 'deepthi', 'age': 32, 'emp_id': 8133399, 'dept': 'testing'}],
 'staff': {'name': 'abc', 'age': 35, 'dept': 'cleaning'}}

In [ ]:
len(organisation)

2

In [ ]:
if "emp_id" in organisation:
    print(True)
else:
    print(False)

False

In [ ]:
organisation['employees']

[{'name': 'sai', 'age': 24, 'emp_id': 8133398, 'dept': 'developer'},
 {'name': 'deepthi', 'age': 32, 'emp_id': 8133399, 'dept': 'testing'}]

In [ ]:
if 'emp_id' in organisation['employees']:
    print(True)
else:
    print(False)

False

In [ ]:
organisation['employees'][0]

{'name': 'sai', 'age': 24, 'emp_id': 8133398, 'dept': 'developer'}

In [ ]:
if 'emp_id' in organisation['employees'][0]:
    print(True)
else:
    print(False)

True

In [ ]:
x = {'one' : 1, 'two' : 2, 'three' : 3}

x

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
for i in x.values():
    print(i**3)

1
8
27

In [ ]:
{f'{i}' : i**3 for i in range(1,11)}

{'1': 1,
 '2': 8,
 '3': 27,
 '4': 64,
 '5': 125,
 '6': 216,
 '7': 343,
 '8': 512,
 '9': 729,
 '10': 1000}

### Day - 6
* Functions

In [ ]:
n = 12

for i in range(2,n):
    if n%i == 0:
        print(n, "Not a Prime Number")
        break
else:
    print("Prime Number")

12 Not a Prime Number

In [ ]:
def prime(n):
    pass

In [ ]:
def prime(n):
    print("Hello")

In [ ]:
def prime():
    print("Hello World")

prime()

Hello World

In [ ]:
def prime(n):
    print("Hello Sai", n)

prime(10)

Hello Sai 10

In [ ]:
def prime():
    print("Hi, there")

def prime():
    print("hi")

def prime():
    print("hello")

prime()

hello

In [ ]:
def prime():
    print("hi")

def prime(n):
    print("hello")

prime()

TypeError: prime() missing 1 required positional argument: 'n'

In [ ]:
def prime():
    print("hi")

def prime(n):
    print("hello", n)

prime('deepthi')

hello deepthi

In [ ]:
def prime(n):     # n ---> parameter
    for i in range(2, n):
        if  n%i == 0:
            return f"The number {n} is divided by {i}, so it is not a prime."
    else:
        return f"The number {n} is a prime."


print(prime(57))       # 57 ---> argument
temp = prime(77)
print(temp)
print(prime(13))

The number 57 is divided by 3, so it is not a prime.
The number 77 is divided by 7, so it is not a prime.
The number 13 is a prime.

In [20]:
prime(35)

35 Not a Prime

5

In [ ]:
prime(29)

29 Prime

In [ ]:
def temp():
    x = 3
    print(x)

In [ ]:
temp()

3

In [ ]:
print(x)

NameError: name 'x' is not defined

In [ ]:
def temp1():
    global y
    y = 5

temp1()
print(y)

5

In [ ]:
def even(n):
    global even_list
    
    even_list = [i for i in range(1,n) if i%2 == 0]
    print(even_list)

In [ ]:
even(10)

[2, 4, 6, 8]

In [ ]:
print(even_list)

[2, 4, 6, 8]

In [14]:
def odd(n):
    y = []
    for i in range(1,n):
        if i%2 != 0:
            y.append(i)
    return y

print(odd(20))
print("hi")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
hi

In [2]:
z = odd(30)
z

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [4]:
z

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [44]:
def temp(n):
    return {"n" : n}

# print(temp(5))
print(type(temp(5)))

<class 'dict'>

In [35]:
print()

In [67]:
def add(x, y):
    return x+y

add("hello", "hi")

'hellohi'

In [69]:
def add(x: int, y: int) -> int:
    return x + y

add("Hi", "deepthi")

'Hideepthi'

In [ ]:
def std(*args):
    return args

print(std(23, "sai", "preetham", 75))
print(std("krishna", 50, 22))

(23, 'sai', 'preetham', 75)
('krishna', 50, 22)

In [ ]:
def print_info(**kwargs):
    print("Kwargs as dict:", kwargs)
    # for key, value in kwargs.items():
        # print(f"{key} = {value}")

print_info(first_name="Alice", age=25, city="Hyderabad")
print_info(age=25, city="Bangalore", first_name="Bobby", last_name="hi")

Kwargs as dict: {'first_name': 'Alice', 'age': 25, 'city': 'Hyderabad'}
Kwargs as dict: {'age': 25, 'city': 'Bangalore', 'first_name': 'Bobby', 'last_name': 'hi'}